/* Initial Setup */

body, html {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

/* Navigation */

nav {
  animation-delay: 1s;
  background: rgba(20, 20, 20, 0.9);
  font-family: Raleway;
  font-weight: 300;
  position: fixed;
  width: 100%;
}
nav ul {
  text-align: left;
  list-style-type: none;
  display: inline-flex;
  margin: 0;
  padding: 2px;
  overflow: hidden;
}
nav li {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  float: left;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
nav #navLinks li:hover {
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
nav a:hover {

}
nav li a {
  text-decoration: none;
  display: block;
  color: #FFFFFF;
  font-size: 23px;
}
#branding {
  background: rgba(0, 0, 0, 0.2);
}
#branding li {
  font-weight: 700;
  color: #FFFFFF;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 23px;
}
#navLinks li a {
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
#navLinks li:hover a {
  color: #5e91ff;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.loginLink {
  float: right;
  text-align: right;
  font-weight: 700;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.3) 50%);
  background-size: 210% 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.loginLink a {
  color: #5e91ff;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.loginLink:hover {
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  background-position: bottom right;
}
.loginLink:hover a {
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  background-position: bottom right;
  color: #FFFFFF;
}

/* Page Header */

.mainHeader {
  height: 50vh;
  background: url('../img/mainHeader.jpeg') no-repeat fixed center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(20, 20, 20, 0.9);
  text-align: center;
}
.mainHeader br {
  line-height: 15vh;
}
.mainHeader h1 {
  color: #5e91ff;
}
.mainHeader p {
  color: #FFFFFF;
}

/* Home Page Information Section */

.information {

}
.information h1 {
  font-size: 50px;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}
.information hr {
  border: 0;
  padding-top: 0;
  margin-top: 0;
  width: 30%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.infoItem {
  margin: 30px 20%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.75);
  color: black;
  padding-top: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3)
}
.infoItem h1 {
  padding-top: 0;
  margin-top: 0;
  text-align: left;
  display: block;
  float: left;
}
.infoItem h2 {
  text-align: right;
  font-weight: 700i;
  font-style: italic;
}
.infoItem div {
  background: rgba(255, 255, 255, 0.5);
  margin: 0 -15px;
  height: 50px;
  padding: 15px;
}
.infoItem p {
  padding-top: 15px;
  color: #FFFFFF;
}

/* Footer */

.footer {
  bottom: 5px;
  background: rgba(20, 20, 20, 0.9);
  margin-top: 50px;
}
.footer p {
  display: inline-block;
}
.footer #copyright {
  bottom: 5px;
  color: #FFFFFF;
  padding-left: 5px;
}
.footer #email {
  bottom: 5px;
  float: right;
  right: 10px;
  width: 300px;
  text-align: right;
  padding-right: 5px;
}
.footer #email a {
  color: #FFFFFF;
  text-decoration: none;
}
